# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
